In [1]:
import pandas as pd
import numpy as np
import requests
import pprint

In [2]:
def json_to_df(data):
    if isinstance(data, list):
        if all(isinstance(item, dict) for item in data):
            return pd.json_normalize(data)
        else:
            return pd.DataFrame({"value": data})

    elif isinstance(data, dict):
        return pd.json_normalize(data)

    else:
        return pd.DataFrame({"value": [data]})

# Fuel Data Collection using DOSM API

In [ ]:
url = "https://api.data.gov.my/data-catalogue?id=fuelprice" 
response_json = requests.get(url=url).json()
fuel_data = json_to_df(response_json)
fuel_data.head()

fuel_data.to_csv("../raw_data/fuel_data.csv")

,date,ron95,ron97,diesel,ron95_skps,series_type,ron95_budi95,diesel_eastmsia
0,2017-03-30,2.13,2.41,2.11,NaN,level,NaN,2.11
1,2017-04-06,2.16,2.43,2.08,NaN,level,NaN,2.08
2,2017-04-13,2.24,2.52,2.16,NaN,level,NaN,2.16
3,2017-04-20,2.27,2.54,2.21,NaN,level,NaN,2.21
4,2017-04-27,2.21,2.49,2.14,NaN,level,NaN,2.14

# Inflation Data Collection using DOSM API

In [3]:
url = "https://api.data.gov.my/data-catalogue?id=cpi_state&divison=overall"
response_json = requests.get(url=url).json()
inflation_data = json_to_df(response_json)
inflation_data.head()

inflation_data.to_csv("../raw_data/inflation_data.csv")

# OPR Data Collection using BNM OpenAPI

### Real Time Data Collection

In [8]:
import requests

url = "https://api.bnm.gov.my/public/opr"

headers = {
    "Accept": "application/vnd.BNM.API.v1+json"
}

response = requests.get(url, headers=headers)

# Check status
print("Status code:", response.status_code)

# JSON output
data = response.json()
loan_approval = json_to_df(data)
loan_approval.head()

Status code: 200

,data.year,data.date,data.change_in_opr,data.new_opr_level,meta.last_updated,meta.total_result
0,2026,2026-01-22,0,2.75,2026-01-22 15:02:15,1

### CSV File

https://financialmarkets.bnm.gov.my/data-download-opr?date_range=all_data&date_select=&date_end=

# MYR/USD Data Collection using BNM OpenAPI

In [11]:

url = "https://api.bnm.gov.my/public/usd-interbank-intraday-rate"

headers = {
    "Accept": "application/vnd.BNM.API.v1+json"
}

response = requests.get(url, headers=headers)

# Check status
print("Status code:", response.status_code)

# JSON output
data = response.json()
myr_to_usd = json_to_df(data)
myr_to_usd.head()

Status code: 200

,data.date,data.highest_rate,data.lowest_rate,meta.last_updated,meta.total_result
0,2026-01-30,3.949,3.93,2026-01-30 19:57:05,1

### CSV File

https://www.bnm.gov.my/latest-rates